@import "../../common/index.scss";

.searchBar {
  position: relative;

  & .icon {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    font-size: 20px;
    color: $lightInput;
  }

  & input {
    max-width: 550px;
    height: 70px;
    padding-left: 80px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: $lightInput;
  }
}

.darkTheme {
  & input {
    background-color: $darkBlue;
    color: #fff;
  }
  & .icon {
    color: #fff;
  }
}

@media (max-width: 1024px) {
  input {
    min-width: 100%;
  }
}
