.details {
  padding-top: 30px;
}
.button {
  position: relative;
  background-color: #fff;
  width: 120px;
  height: 40px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 50px;
}
.icon {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
