.header {
  padding: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: 40px;
  }
}
.modeSwitcher {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  span {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
  }
  .icon {
    font-size: 20px;
  }
}
