* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
body {
  color: $lightText;
  overflow-x: hidden;
  font-size: 14px;
}
// //The designs were created to the following widths:
// - Mobile: 375px
// - Desktop: 1440px
