$darkBlue: hsl(209, 23%, 22%); //Dark Mode Elements
$darkBg: hsl(207, 26%, 17%); //Dark Mode Background
$lightText: hsl(200, 15%, 8%); //Light Mode Text
$lightInput: hsl(0, 0%, 52%); //Light Mode Input
$lightBg: hsl(0, 6.1%, 90.4%); //Light Mode Background
