* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input {
  outline: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

span {
  font-weight: 600;
}

.container {
  padding: 0 15px;
  max-width: 1440px;
  margin: 0 auto;
}
.spinerWrapper {
  display: flex;
  justify-content: center;
}
