.countryItem {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 10px;
}
.image {
  & img {
    height: 160px;
  }
}
.description {
  padding: 20px 20px 40px;
  & h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  & ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
