.countryItem {
  background-color: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}

.image img {
  height: 200px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.description {
  padding: 20px 20px 40px;

  & h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 630px) {
  .countryItem {
    max-width: 90%;
  }

  .image img {
    height: auto;
  }
}
