.countryListWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 100px;
  row-gap: 50px;
}

@media (max-width: 630px) {
  .countryListWrapper {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
