.details {
  padding: 50px 0;
}

.button {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #fff;
  margin-bottom: 50px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.icon {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
