.infoCard {
  display: flex;
  justify-content: space-between;

  & img {
    flex-basis: 40%;
    max-height: 400px;
  }
}

.information {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  flex-basis: 55%;

  & h3 {
    font-size: 30px;
  }

  & ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
  }

  & p {
    font-weight: 600;
    display: flex;
    gap: 25px 15px;
    flex-wrap: wrap;
    & span {
      font-weight: 400;
      padding: 5px 15px;
      border: 1px solid gray;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
      border-radius: 10px;

      &:first-child {
        margin-left: 5px;
      }
    }
  }
}

@media (max-width: 768px) {
  .infoCard {
    flex-direction: column;
    gap: 50px;
    & img {
      max-height: none;
    }
  }
}

@media (max-width: 768px) {
  .information ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
